<%# Grid Calendar View - SWUNG %>
<div id="grid-view-container" class="view-container hidden">
  <div class="calendar-grid-header">
    <div class="weekday-label">M</div>
    <div class="weekday-label">T</div>
    <div class="weekday-label">W</div>
    <div class="weekday-label">T</div>
    <div class="weekday-label">F</div>
    <div class="weekday-label">S</div>
    <div class="weekday-label">S</div>
  </div>
  <div id="calendar-grid-days" class="calendar-grid-days">
    <%# JS will populate days %>
  </div>
</div>
