<%# List Calendar View - SWUNG %>
<div id="list-view-container" class="view-container">
  <div id="event-list-content">
    <%# JS will populate: Day Headers (23 Fri) and Event Cards %>
  </div>
  <div class="spacer" style="height: 80px"></div>
</div>
